Source: libdisplaycore-driver-sh1106-dtwi
Section: main
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-sh1106-dtwi
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
Depends: libdisplaycore-driver-sh1106, libdtwi-chipkit
Provides: SH1106-UL-DTWI.h
Description: SH1106 DTWI library
 DTWI implementation of the SH1106 OLED driver



